# Original tests from collab
colab

# Dataset creation
hackathon_dataset.ipynb

# Utility to convert text to html
convert_to_html.sh

# Secret to participants
data/bundle_assessment.pkl

# Jupyter metadata
.ipynb_checkpoints/
